.card {
	position: relative;

	.fav-icon {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}

	.card-img {
		position: relative;

		span {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
