<template>
		<div class="card relative group h-auto">
			<button class="fav-icon" @click="setFav(film)">
				<heart-icon class="fav-icon h-8 w-8 hover:text-red-600 z-10 transition ease-linear duration-300"
							:class="isFavorite ? 'text-red-600' : 'text-white'"/>
			</button>
			<div class="card-img w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-96 lg:aspect-none">
				<router-link :to="'/' + film.id">
					<img :src="'https://image.tmdb.org/t/p/w500/' + film.poster_path" :alt="film.title" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
				</router-link>
				<span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
					<calendar-icon class="h-4 w-4 mr-1 text-blue-800"/>
					{{new Date(film.release_date).toLocaleDateString("pt-BR")}}
				</span>
			</div>
			<div class="mt-4 flex flex-col justify-between">
				<div class="h-32">
					<h3 class="text-md text-center text-gray-700 font-bold mb-2">
						<router-link :to="'/' + film.id" class="cursor-pointer hover:underline">
							{{ film.title}}
						</router-link>
					</h3>
					<div class="flex flex-wrap">
						<span v-for="(genre, index) in film.genre_ids" :key="index"
							class="text-xs font-semibold mr-2 my-1 px-2.5 py-0.5 rounded"
							:class="colors[`id${genre}`].bgColor + ' ' + colors[`id${genre}`].textColor">
							{{currentGenres[currentGenres.map(function(e) { return e.id; }).indexOf(genre)].name}}
						</span>
					</div>
					<div class="flex items-center pt-2">
						<star-icon class="h-6 w-6 mr-1 text-amber-300"/>
						<p class="mt-1 text-lg text-gray-500">{{ film.vote_average }}</p>
					</div>
				</div>
				<p class="text-lg text-center font-medium text-gray-900">
					{{new Intl.NumberFormat("pt-BR",
					{ style: 'currency', currency: 'BRL'}).format( film.value )}}
				</p>
				<button type="button" class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 mt-2 justify-center"
						@click="addItemsCart(film)" :class="onCart ? 'bg-blue-500 hover:bg-blue-700' : 'bg-orange-500 hover:bg-orange-700'">
						<div class="inline-flex items-center justify-center" v-if="onCart">
							<check-icon class="w-4 h-4 mr-2 -ml-1" ></check-icon>
							Adicionado
						</div>
						<div class="inline-flex items-center justify-center" v-else>
							<plus-circle-icon class="w-4 h-4 mr-2 -ml-1"></plus-circle-icon>
							Adicionar
						</div>
				</button>
			</div>
		</div>
</template>
<script>

import { CalendarIcon, CheckIcon } from '@heroicons/vue/outline'
import { HeartIcon, StarIcon, PlusCircleIcon } from '@heroicons/vue/solid'
import colors from '../../utils/colors'

export default {
	name: 'f-card',
	components: {
		CalendarIcon,
		HeartIcon,
		StarIcon,
		PlusCircleIcon,
		CheckIcon,
	},
	props: {
		film: Object,
	},
	computed: {
		currentGenres() {
			return this.$store.state.request.genres
		},

		hasGenres() {
			return this.$store.state.request.status.hasGenres
		},

		isFavorite() {
			return this.$store.getters['favorite/getFavById'](this.film.id)
		},

		onCart() {
			return this.$store.getters['cart/getCartById'](this.film.id)
		},
	},
	created() {
		if(!this.hasGenres)
		this.$store.dispatch('request/requestGenres')
		.catch(error => {
			console.log(error)
		})
	},
	data() {
		return {
			colors
		}
	},
	methods: {
		addItemsCart(item) {
			this.$store.dispatch('cart/addItem', item)
		},

		setFav(item) {
			if(this.isFavorite) {
				this.$store.dispatch('favorite/removeItem', item)

			} else {
				this.$store.dispatch('favorite/addItem', item)
			}
		},
	}
}
</script>
