<template>
		<div class="card relative group h-auto flex items-center mb-6">
			<div class="card-img w-12 h-12 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:aspect-none">
				<img :src="'https://image.tmdb.org/t/p/w500/' + film.poster_path" :alt="film.title" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
			</div>
			<div class="flex justify-between items-center w-full">
				<p class="text-sm pl-1 text-gray-700 md:w-2/5">{{ film.title }}</p>
				<p class="text-md text-center font-medium text-gray-900 md:w-1/5">1</p>
				<p class="text-sm text-center font-medium text-gray-900 md:w-1/5">{{new Intl.NumberFormat("pt-BR",
				{ style: 'currency', currency: 'BRL'}).format( film.value )}}</p>
				<button type="button" class="text-gray-700 hover:text-gray-500 text-sm flex justify-center md:w-1/5"
						@click="removeItem(film)">
					<trash-icon class="w-6 h-6 mr-2 -ml-1"></trash-icon>
				</button>
			</div>
		</div>
</template>
<script>

import { TrashIcon } from '@heroicons/vue/solid'

export default {
	name: 'f-cart-card',
	components: {
		TrashIcon
	},
	props: {
		film: Object,
	},
	data() {
		return {
		}
	},
	methods: {
		removeItem(item) {
			this.$store.dispatch('cart/removeItem', item)
		}
	}
}
</script>
