<template>
		<div class="card relative group h-auto flex items-center">
			<div class="flex justify-between items-center w-full flex-wrap">
				<img :src="'https://image.tmdb.org/t/p/w500/' + film.backdrop_path" :alt="film.title" class="w-1/3 object-center object-cover md:w-1/5 aspect-square" />
				<p class="w-2/3 text-sm pl-1 text-gray-700 font-bold md:w-2/5 ">{{ film.title }}</p>
				<p class="w-1/3 text-md text-center font-light text-gray-900 md:w-1/12">1</p>
				<p class="w-1/3 text-sm text-center font-bold text-gray-900 md:w-1/5">{{new Intl.NumberFormat("pt-BR",
				{ style: 'currency', currency: 'BRL'}).format( film.value )}}</p>
				<button type="button" class="w-1/3 text-gray-700 hover:text-gray-500 text-sm flex justify-center md:w-1/12"
						@click="removeItem(film)">
					<trash-icon class="w-6 h-6 mr-2 -ml-1"></trash-icon>
				</button>
			</div>
		</div>
		<div class="block" aria-hidden="true">
			<div class="py-5">
				<div class="border-t border-gray-400" />
			</div>
		</div>
</template>
<script>

import { TrashIcon } from '@heroicons/vue/solid'

export default {
	name: 'f-cart-card',
	components: {
		TrashIcon
	},
	props: {
		film: Object,
	},
	data() {
		return {
		}
	},
	methods: {
		removeItem(item) {
			this.$store.dispatch('cart/removeItem', item)
		}
	}
}
</script>
