<template>
	<alert :color="`bg-amber-500`" dismissible :visible="alert.visible" :disableAlert="disableAlert">
		<span class="flex p-2 rounded-lg" :class="`bg-amber-700`">
            <speakerphone-icon class="h-6 w-6 text-white" aria-hidden="true" />
		</span>
		<p class="ml-3 font-medium text-white truncate">
            <span class="md:inline"> {{alert.message}} </span>
		</p>
	</alert>

	<div class="w-full">
		<div class="mt-10 p-10 sm:mt-0">
			<h3 class="text-4xl px-4 font-bold text-orange-600">Finalizar Compra</h3>
			<div class="md:grid md:grid-cols-2 md:gap-6">
				<div class="mt-5 md:mt-0 md:col-span-1">
					<div class="shadow overflow-hidden sm:rounded-md">
						<div class="px-4 py-5 bg-white sm:p-6">
						<div class="grid grid-cols-6 gap-6">
							<div class="col-span-6 sm:col-span-6">
							<label for="full-name" class="block text-sm font-medium text-gray-700">Nome Completo</label>
							<input type="text" name="full-name" id="full-name" v-model="form.name" autocomplete="full-name" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.name}"/>
							</div>

							<div class="col-span-6 sm:col-span-3">
							<label for="cpf" class="block text-sm font-medium text-gray-700">CPF</label>
							<input v-maska="'###.###.###-##'" type="text" name="cpf" id="cpf" v-model="form.cpf" autocomplete="cpf" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.cpf}"/>
							</div>

							<div class="col-span-6 sm:col-span-3">
							<label for="phone" class="block text-sm font-medium text-gray-700">Celular</label>
							<input v-maska="['(##) ####-####', '(##) # ####-####']" type="text" name="phone" id="phone" v-model="form.phone" autocomplete="phone" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.phone}"/>
							</div>

							<div class="col-span-6 sm:col-span-6">
							<label for="email-address" class="block text-sm font-medium text-gray-700">Email</label>
							<input type="text" name="email-address" id="email-address" v-model="form.email" autocomplete="email" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								@blur="checkEmail(form.email) ? errors['emailValidate'] = true : '' " :class="{'border-red-700': errors.email || errors.emailValidate}"/>
							</div>

							<div class="col-span-6 sm:col-span-2">
							<label for="cep" class="block text-sm font-medium text-gray-700">CEP</label>
							<input v-maska="'#####-###'" type="text" name="cep" id="cep" v-model="form.cep" autocomplete="cep" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.cep}"/>
							</div>

							<div class="col-span-6 sm:col-span-4" >
							<label for="street-address" class="block text-sm font-medium text-gray-700">Endereço</label>
							<input type="text" name="street-address" id="street-address" v-model="form.address" autocomplete="street-address" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.address}"/>
							</div>

							<div class="col-span-6 sm:col-span-6 lg:col-span-3">
							<label for="city" class="block text-sm font-medium text-gray-700">Cidade</label>
							<input type="text" name="city" id="city" v-model="form.city" autocomplete="address-level2" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.city}"/>
							</div>

							<div class="col-span-6 sm:col-span-3 lg:col-span-3">
							<label for="region" class="block text-sm font-medium text-gray-700">Estado</label>
							<input type="text" name="region" id="region" v-model="form.region" autocomplete="address-level1" class="mt-1 focus:ring-orange-500 focus:border-orange-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
								:class="{'border-red-700': errors.region}"/>
							</div>

						</div>
						</div>
					</div>
				</div>
				<div class="md:col-span-1 mt-8 sm:mt-0">
					<h3 class="block sm:hidden">Itens do carrinho</h3>
					<div class="sm:px-4 px-0">
						<div v-for="film in getCartItems" :key="film.if">
							<card :film="film" ></card>
						</div>
					</div>
					<div class="checkout-footer">
						<div class="flex justify-between pb-4 md:px-6 mb-8">
							<p class="text-lg">Total</p>
							<p class="text-4xl font-bold">{{ getTotalValue }}</p>
						</div>
						<button @click="finish" type="button" class="text-white bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-lg px-5 py-3 md:mx-5 text-center w-full">
							Finalizar
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<modal :open="modal" :name="form.name"></modal>
</template>
<script>
import { SpeakerphoneIcon } from '@heroicons/vue/outline'

import Alert from '../components/Alert.vue'
import Card from '../components/Cards/CheckoutCard.vue'
import Modal from '../components/ModalCheckout.vue'

export default {
	components: {
		Alert,
		Card,
		Modal,
		SpeakerphoneIcon,
	},
	data() {
		return {
			alert: {
				visible: false,
				message: "",
			},
			form: {
				name: "",
				cpf: "",
				phone: "",
				email: "",
				cep: "",
				address: "",
				city: "",
				region: "",
			},
			errors: {},
			modal: false
		}
	},
	computed: {
		getCartItems() {
			return this.$store.state.cart.cartItems
		},

		getTotalValue() {
			return this.getCartItems.length > 0 ?
			new Intl.NumberFormat("pt-BR", { style: 'currency', currency: 'BRL'}).format( this.getCartItems.map(film => film.value).reduce((acc, cur) => { return acc += cur}) ) :
			new Intl.NumberFormat("pt-BR", { style: 'currency', currency: 'BRL'}).format(0)
		},
	},
	methods: {
		finish() {
			if(this.checkForm())
			return

			this.modal = true
			this.$store.dispatch('cart/removeAllItem')

		},

		checkForm() {
			this.errors = {}
			if(!this.form.name) this.errors['name'] = true
			if(!this.form.cpf) this.errors['cpf'] = true
			if(!this.form.phone) this.errors['phone'] = true
			if(!this.form.email) this.errors['email'] = true
			if(this.checkEmail(this.form.email)) this.errors['emailValidate'] = true
			if(!this.form.cep) this.errors['cep'] = true
			if(!this.form.address) this.errors['address'] = true
			if(!this.form.city) this.errors['city'] = true
			if(!this.form.region) this.errors['region'] = true

			if (!this.isEmpty(this.errors)) {
				if(this.errors.emailValidate) {
					this.alert.message = "Insira um e-mail válido"
				} else {
					this.alert.message = "Preencha todos os Campos"
				}
				this.visibleAlert()
				return true
			}
			return false
		},

		checkEmail(email) {
			let user = email.substring(0, email.indexOf("@"));
			let domain = email.substring(email.indexOf("@")+ 1, email.length);

			return !((user.length >=1) &&
					(user.length >=3) &&
					(user.search("@")==-1) &&
					(domain.search("@")==-1) &&
					(user.search(" ")==-1) &&
					(domain.search(" ")==-1) &&
					(domain.search(".")!=-1) &&
					(domain.indexOf(".") >=1)&&
					(domain.lastIndexOf(".") < domain.length - 1))
		},

		isEmpty(obj) {
			for(var prop in obj) {
				if(Object.prototype.hasOwnProperty.call(obj, prop)) {
				return false;
				}
			}

			return JSON.stringify(obj) === JSON.stringify({});
		},

		visibleAlert() {
			this.alert.visible = true
			setTimeout(() => {
				this.alert.visible = false
			}, 5000);
		},

		disableAlert(visible) {
			this.alert.visible = visible
		},
	}
}
</script>

<style>
</style>

