<template>
	<alert :color="`bg-${alert.color}-600`" dismissible :visible="alert.visible" :disableAlert="getVisibleAlert">
		<span class="flex p-2 rounded-lg" :class="`bg-${alert.color}-800`">
            <speakerphone-icon class="h-6 w-6 text-white" aria-hidden="true" />
		</span>
		<p class="ml-3 font-medium text-white truncate">
            <span class="md:inline"> {{alert.message}} </span>
		</p>
	</alert>

	<div class="w-full">
		<div class="card bg-white">
			<div class="max-w-2xl mx-auto py-16 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
				<h2 class="text-5xl text-center font-extrabold tracking-tight uppercase text-orange-500" v-if="isSearch">TOP 20 Filmes do dia</h2>
				<h2 class="text-5xl text-center font-extrabold tracking-tight text-black" v-else>Principais resultados</h2>
				<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
					<div v-for="film in getFilms" :key="film.id">
						<card :film="film"></card>
					</div>
				</div>
			</div>
		</div>
		<modal :filmID="paramFilmId" :open="isOpenModal"></modal>
	</div>
</template>
<script>
import { SpeakerphoneIcon, SearchIcon } from '@heroicons/vue/outline'
import Alert from '../components/Alert.vue'
import Card from '../components/Cards/Card.vue'
import Modal from '../components/Modal.vue'

export default {
	components: {
		Alert,
		Card,
		Modal,
		SearchIcon,
		SpeakerphoneIcon,
	},
	data() {
		return {
			alert: {
				color: "red",
				visible: false,
				message: "",
			},
		}
	},
	created() {
		this.getTrands()
	},
	computed: {
		getCartItems() {
			return this.$store.state.cart.cartItems
		},

		paramFilmId() {
			return this.$route.params.id
		},

		getFilms() {
			return this.$store.state.film.films
		},

		isSearch() {
			return this.$store.state.film.status.isSearch
		},

		isOpenModal() {
			return this.paramFilmId ? true : false
		},
	},
	methods: {
		getTrands() {
			this.$store.dispatch('film/getTrends')
		},

		getVisibleAlert(visible) {
			this.alert.visible = visible
		},

		visibleAlert() {
			this.alert.visible = true
			setTimeout(() => {
				this.alert.visible = false
			}, 5000);
		},
	}
}
</script>

<style>
</style>

