<template>
	<TransitionRoot as="template" :show="open">
		<Dialog as="div" class="relative z-10" @close="open = false">
		<TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
			<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
		</TransitionChild>

		<div class="fixed z-10 inset-0 overflow-y-auto">
			<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
			<TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
				<DialogPanel class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
				<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
					<div class="mt-3 text-center sm:mt-0">
						<DialogTitle as="h3" class="text-3xl leading-6 font-medium text-gray-900 pb-6"> Obrigado {{name}}! </DialogTitle>
						<div class="mt-2">
						<p class="text-lg text-gray-500">Sua compra foi finalizada com sucesso!</p>
						</div>
					</div>
				</div>
				<div class="bg-gray-50 px-4 py-3 sm:px-6">
					<router-link to="/" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-orange-500 text-base font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-lg" @click="open = false">Ir para loja</router-link>
				</div>
				</DialogPanel>
			</TransitionChild>
			</div>
		</div>
		</Dialog>
	</TransitionRoot>
</template>

<script>
import { Dialog, DialogTitle, DialogPanel, TransitionChild, TransitionRoot } from '@headlessui/vue'

export default {
	components: {
		Dialog,
		DialogTitle,
		DialogPanel,
		TransitionChild,
		TransitionRoot,
	},
	props: {
		name: String,
		open: {
			type: Boolean,
			default: false
		},
	},
	watch: {
      	open: function(newVal) {
			if(!newVal) {
				this.$router.push("/")
			}
        }
	},
}
</script>
