<template>
	<transition-root as="template" :show="open">
		<Dialog as="div" class="fixed z-10 inset-0 overflow-y-auto" @close="open = false">
			<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
				<transition-child as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
					<dialog-overlay class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
				</transition-child>

				<!-- This element is to trick the browser into centering the modal contents. -->
				<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
				<transition-child as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
					<div class="relative inline-block bg-transparent rounded-lg text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-screen-lg sm:w-full">
						<div class="modal-film shadow-xl bg-white rounded-lg flex flex-wrap justify-center items-center">
							<div class="sm:w-1/3">
								<img class='w-full p-6 object-cover rounded' :src="'https://image.tmdb.org/t/p/w500/' + film.poster_path" :alt="film.title" />
							</div>
							<div class="sm:w-2/3">
								<div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 flex flex-col items-center justify-center relative">
									<div class="mt-3 text-left sm:mt-0 sm:ml-4">
										<dialog-title as="h3" class="text-2xl leading-6 font-medium text-gray-900 text-left">
											{{film.title}} <span class="text-xl font-light">({{new Date(film.release_date).getFullYear()}})</span>
											<p class="text-sm font-normal">{{new Date(film.release_date).toLocaleDateString("pt-BR")}} • {{film.runtime}}min</p>
										</dialog-title>
									<div class="pr-8">
										<div class="flex flex-wrap justify-start">
											<span v-for="(genre, index) in film.genres" :key="index"
												class="text-xs font-semibold mr-2 my-1 px-2.5 py-0.5 rounded"
												:class="colors[`id${genre.id}`].bgColor + ' ' + colors[`id${genre.id}`].textColor">
												{{genre.name}}
											</span>
										</div>
										<div class="flex flex-wrap justify-start items-center">
											<div class="w-full sm:w-1/2 flex justify-center items-center sm:justify-start">
												<div x-data="scrollProgress" class="inline-flex items-center justify-center overflow-hidden rounded-full bottom-5 left-5" >
													<svg class="w-20 h-20 -rotate-90">
														<circle class="text-orange-100" stroke-width="5" stroke="currentColor" fill="transparent"
															r="30"
															cx="40"
															cy="40"
														/>
														<circle class="text-orange-600" stroke-width="5" :stroke-dasharray="circumference" :stroke-dashoffset="circumference - film.vote_average / 10 * circumference"
															stroke-linecap="round"
															stroke="currentColor"
															fill="transparent"
															r="30"
															cx="40"
															cy="40"
														/>
													</svg>
													<span class="absolute text-xl text-orange-700">{{film.vote_average * 10}}%</span>
												</div>
												<p class="text-base font-bold text-orange-700 w-20 leading-5">Avaliação dos usuários</p>
											</div>
											<div class="w-full sm:w-1/2 flex justify-around sm:justify-start">
												<button @click="setFav(film)" class="w-16 h-16 flex justify-center items-center bg-slate-200 hover:bg-slate-300 hover:text-red-500 rounded-full"
														:class="isFavorite ? 'text-red-700' : 'text-slate-700'" >
													<heart-icon class="w-8 h-8"></heart-icon>
												</button>
												<button @click="addItemsCart(film)" class="sm:ml-4 w-16 h-16 flex justify-center items-center bg-slate-200 rounded-full hover:bg-slate-300 hover:text-orange-500"
														:class="onCart ? 'text-orange-600' : 'text-slate-700'">
													<shopping-cart-icon class="w-8 h-8"></shopping-cart-icon>
												</button>
											</div>
										</div>
										<h4 class="pt-4 text-lg font-medium">Sinopse</h4>
										<p class="text-sm font-light text-justify pb-4">{{film.overview}}</p>
									</div>
									</div>
								</div>
								<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
									<router-link to="/" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-400 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Fechar</router-link>
									<a :href="'whatsapp://send?text=Este filme é ótimo confere no Cinemate! \n' + appUrl + film.id" target="_blank" class="w-full mt-4 bg-orange-600 rounded-md border border-transparent shadow-sm px-4 py-2 md:bg-transparent sm:mt-0 sm:w-auto flex justify-center items-center">
										<share-icon class="text-white md:text-gray-400 h-6 md:hover:text-gray-500 pr-4"></share-icon>
									</a>
								</div>
							</div>
						</div>
					</div>
				</transition-child>
			</div>
		</Dialog>
	</transition-root>
</template>

<script>
import { Dialog, DialogOverlay, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { ShareIcon } from '@heroicons/vue/outline'
import { HeartIcon, ShoppingCartIcon } from '@heroicons/vue/solid'

import axios from '../services/axios'
import colors from '../utils/colors'
export default {
	components: {
		Dialog,
		DialogOverlay,
		DialogTitle,
		TransitionChild,
		TransitionRoot,
		ShareIcon,
		HeartIcon,
		ShoppingCartIcon
	},
	props: {
		filmID: String,
		open: {
			type: Boolean,
			default: false
		},
	},
	data() {
		return {
			colors,
			film: {},
			circumference: 30 * 2 * Math.PI
		}
	},
	created() {
		if(this.filmID)
		this.getFilm()
	},
	computed: {
		isFavorite() {
			return this.$store.getters['favorite/getFavById'](this.film.id)
		},

		onCart() {
			return this.$store.getters['cart/getCartById'](this.film.id)
		},

		appUrl() {
			return import.meta.env.VITE_APP_URL
		}
	},
	watch: {
      	open: function(newVal) {
			if(newVal) {
				this.getFilm()
			} else {
				if(this.$route.params.id) {
					this.$router.push("/")
				}
			}
        }
	},
	methods: {
		getFilm() {
			axios.get(`/movie/${this.filmID}`)
			.then(response => {
				this.film = response.data
				this.film.value = colors[`id${this.film.genres[0].id}`].price
			}).catch(error => {
				console.log(error)
			})
		},

		addItemsCart(item) {
			this.$store.dispatch('cart/addItem', item)
		},

		setFav(item) {
			if(this.isFavorite) {
				this.$store.dispatch('favorite/removeItem', item)

			} else {
				this.$store.dispatch('favorite/addItem', item)
			}
		},
	}
}
</script>
