<template>
	<TransitionRoot as="template" :show="open">
		<Dialog as="div" class="relative z-30" @close="open = false">
		<TransitionChild as="template" enter="ease-in-out duration-500" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in-out duration-500" leave-from="opacity-100" leave-to="opacity-0">
			<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
		</TransitionChild>

		<div class="fixed inset-0 overflow-hidden">
			<div class="absolute inset-0 overflow-hidden">
			<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
				<TransitionChild as="template" enter="transform transition ease-in-out duration-500 sm:duration-700" enter-from="translate-x-full" enter-to="translate-x-0" leave="transform transition ease-in-out duration-500 sm:duration-700" leave-from="translate-x-0" leave-to="translate-x-full">
				<DialogPanel class="pointer-events-auto relative w-screen max-w-md">
					<TransitionChild as="template" enter="ease-in-out duration-500" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in-out duration-500" leave-from="opacity-100" leave-to="opacity-0">
					<div class="absolute top-0 left-0 -ml-8 flex pt-4 pr-2 sm:-ml-10 sm:pr-4">
						<button type="button" class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white" @click="open = false">
						<span class="sr-only">Close panel</span>
						<XIcon class="h-6 w-6" aria-hidden="true" />
						</button>
					</div>
					</TransitionChild>
					<div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
					<div class="px-4 sm:px-6">
						<DialogTitle class="text-lg font-medium text-gray-900 flex justify-between">
							<p>
								Meu Carrinho
							</p>
							<button class="text-sm underline text-red-300 uppercase cursor-pointer" @click="cleanCart">Limpar Carrinho</button>
						</DialogTitle>
					</div>
					<div class="relative mt-6 flex-1 px-4 sm:px-6" v-if="getCartItems">
						<!-- Replace with your content -->
						<div v-for="film in getCartItems" :key="'cart-' + film.id" >
							<cart-card :film="film"></cart-card>
						</div>
						<!-- /End replace -->
					</div>
					<div class="relative mt-6 flex-1 px-4 sm:px-6" v-else>
						Nenhum item no seu carrinho
					</div>
					<div class="cart-footer flex flex-col">
						<div class="flex justify-between pb-4 px-6">
							<p class="text-lg">Total</p>
							<p class="text-2xl font-bold">{{ getTotalValue }}</p>
						</div>
						<router-link to="/checkout" @click="open = false" type="button" class="text-white bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-lg px-5 py-3 mx-5 text-center">
							Finalizar Compra
						</router-link>
					</div>
					</div>
				</DialogPanel>
				</TransitionChild>
			</div>
			</div>
		</div>
		</Dialog>
	</TransitionRoot>
</template>

<script>
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'
import { XIcon } from '@heroicons/vue/outline'
import CartCard from '../components/Cards/CartCard.vue'

export default {
	name: 'side-cart',
	components: {
		Dialog,
		DialogPanel,
		DialogTitle,
		TransitionChild,
		TransitionRoot,
		XIcon,
		CartCard,
	},
	computed: {
		getTotalValue() {
			return this.getCartItems.length > 0 ?
			new Intl.NumberFormat("pt-BR", { style: 'currency', currency: 'BRL'}).format( this.getCartItems.map(film => film.value).reduce((acc, cur) => { return acc += cur}) ) :
			new Intl.NumberFormat("pt-BR", { style: 'currency', currency: 'BRL'}).format(0)
		},

		getCartItems() {
			return this.$store.state.cart.cartItems
		}
	},
	props: {
		open: {
			type: Boolean,
			default: false,
		},
		close: Function,
	},
	watch: {
		open: function(newVal) {
			if(!newVal) {
				this.close(false)
			}
        }
	},
	methods: {
		cleanCart() {
			this.$store.dispatch('cart/removeAllItem')
		}
	}
}
</script>
