<template>
<div>

	<disclosure as="nav" class="bg-gray-800 sm:fixed sm:w-full sm:z-20 sm:top-0">
		<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
			<div class="relative flex items-center justify-between h-32 sm:h-16 flex-wrap">
				<div class="flex items-center justify-center sm:items-stretch sm:justify-start">
					<div class="flex-shrink-0 flex items-center">
						<router-link to="/">
							<img class="h-8 w-auto" src="https://ras-upload.s3.amazonaws.com/test/filme/cinemate-white.svg" alt="Workflow" />
						</router-link>
					</div>
				</div>
				<div class="w-full sm:w-1/2">
					<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
					<div class="relative">
						<div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
							<search-icon class="w-5 h-5 text-gray-500 dark:text-gray-400"></search-icon>
						</div>
						<input @keyup.enter="searchByName" type="search" id="default-search" v-model="search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Pesquisa">
						<button @click="searchByName" type="button" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Procurar</button>
					</div>
				</div>
				<div class="absolute top-4 sm:inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
					<button type="button" class="cart bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
						@click="fav.open = !fav.open">
						<span class="sr-only">Favoritos</span>
						<heart-icon class="h-6 w-6" aria-hidden="true" />
						<span v-show="favItemsLength > 0" class="total-items text-xs font-semibold mr-2 my-1 h-4 w-4 rounded-full bg-blue-100 text-blue-800 flex items-center justify-center">{{favItemsLength}}</span>
					</button>

					<!-- Profile dropdown -->
					<button type="button" class="cart bg-gray-800 p-1 ml-4 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
						@click="cart.open = !cart.open">
						<span class="sr-only">Carrinho</span>
						<shopping-cart-icon class="h-6 w-6" aria-hidden="true" />
						<span class="total-items text-xs font-semibold mr-2 my-1 h-4 w-4 rounded-full bg-blue-100 text-blue-800 flex items-center justify-center">{{cartItemsLength}}</span>
					</button>
				</div>
			</div>
		</div>
	</disclosure>
	<side-cart :open="cart.open" :close="(open) => cart.open = open"></side-cart>
	<side-favorite :open="fav.open" :close="(open) => fav.open = open"></side-favorite>
</div>
</template>

<script>
import { Disclosure, DisclosureButton, DisclosurePanel } from '@headlessui/vue'
import { HeartIcon, ShoppingCartIcon, MenuIcon, XIcon, SearchIcon } from '@heroicons/vue/outline'
import SideCart from '../components/SideCart.vue'
import SideFavorite from '../components/SideFavorite.vue'

export default {
	components: {
		Disclosure,
		DisclosureButton,
		DisclosurePanel,
		HeartIcon,
		ShoppingCartIcon,
		MenuIcon,
		XIcon,
		SearchIcon,
		SideCart,
		SideFavorite
	},
	computed: {
		cartItemsLength() {
			return this.$store.state.cart.cartItems.length
		},

		favItemsLength() {
			return this.$store.state.favorite.favItems.length
		}
	},
	data() {
		return {
			cart: {
				open: false,
			},
			fav: {
				open: false,
			},
			search: "",
		}
	},
	methods: {
		searchByName() {
			this.$store.dispatch('film/searchByName', this.search)
		}
	}
}
</script>
